body {
    background-color:aliceblue;
    color:#300f31;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: #fedeff;
    color:#330a10;
    font-family:Impact;
    padding: 7px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

main {
    background-color:aliceblue;
    color:#3c1c06;
    font-family:Helvetica;
    padding: 7px;
    margin: 10px 20px 34px;
}

footer {
    background-color: #fedeff;
    color:#17312f;
    font-family:Impact;
    margin: 0px;
    padding: 7px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

a {
    color: #7f0098;
    text-decoration: none;
    transition: 0.8s 0.2s;
}

a:link {
}

a:visited {
}

a:hover {
    color:#ff00ae;
    text-decoration: underline;
    text-shadow: 2px 2px 3px #3e18304d;
    transition: 0.5s;
}

a:active {
    color: #21082a;
    opacity: 0.3;
}

div.menu {
    border: 5px double #910046a9;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
    transition: 0.8s 0.4s;
}
div.menu:hover {
    background-color: #ffdef8;
    box-shadow: 0 0 12px #3e18304d;
    transition: 0.8s;
}
